/*Website overall styling*/

body {
    background-image: linear-gradient(-10deg,  #E9967A 0%, #fdd6bd 100%);
    color: #303030;
    margin: 0;
    width: 100%;
}



h1 {
    text-align: center;
    font-size: 70px;
    font-family: 'Oleo Script Swash Caps', cursive;
}


#pageNav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    font-size: 30px;
    line-height: 50px;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
}


footer {
    text-align: left;
    background-color: white;
    border: 1px solid white;
    left:0;
    height: 50px;
}

.socialIcons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 30px;
    color: white;
}

.socialIcons > i{
    margin-right: 20px;
}



/*Styles for Home Page*/
.homeNav{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 32px;
    text-align: center;
    width: 550px;
    height: 600px;
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
}

#twitter,#tiktok,#insta{
    margin-top: 30px;
    width: 30px;
    height: 30px;
}

#mish{
    width: 425px;
    height: 600px;
    align-items: center;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



#slide {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#slideshow {
    margin-top: 80px;
    border: 2px solid blue;
    border-left-color: black;
    border-right-color: black;
    background-color: black;
}

.homePhoto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation: 3s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 50px;
    font-family: 'Oleo Script Swash Caps', cursive;
}



.homePhoto > div{
    padding-left: 5px;
    padding-right: 5px;
    transition: all .2s ease-in-out; 
}

.mishsleep{
    height: 600px;
    width: 80%;
}

.homePhoto > div:hover{
    transform: scale(1.1); 
}


#misha-sun-home, #mish-sitting, #misha-paws {
    margin: 10px;
    width: 400px; 
    height: 500px; 
    padding: 5px;
    border: 10px solid  #303030;
    border-radius: 50%;
    animation: 3s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
    overflow: hidden;
    margin-top: -4px;
   
}

.homelink{
    text-decoration: none;
    color:#CD5C5C;
    font-family: 'Roboto Slab', serif;
    animation: 3s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
    padding: 5px;
    padding-bottom: 5px;
    border-bottom: 3px solid #CD5C5C;
    line-height: 5px;
    margin: 10px;
}

.homeQuote{
    margin-top: 100px;
}

.homeSocial{
    margin-top: 100px;
}

.homeSocial > a{
    color: #303030;
    text-decoration: none;
}

#fb:visited,#insta:visited,#tweet:visited{
    color:#303030;
    text-decoration: none;
}



@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
}


@media only screen and (max-width: 1000px){
    #mish{
        display: none;
    }

    .homeTitle{
        font-size: 60px;
    }
} 